.twoColumnsTextWrapper
    margin-top: 50px
    width: 55%
    display: flex
    justify-content: center
    align-content: center

.firstColumnTextWrapper
    width: 50%
    margin-right: 45px    

.secondColumnTextWrapper
    width: 50%       
    margin-left: 45px   

p
    margin-top: 10px
    margin-bottom: 0
    color: #6a727c
    line-height: 30px
    padding: 0
    font-size: 19px
    font-weight: 500

.boldTextSpan
    font-weight: 600
    color: #6a727c    

.orangeText
    color: orangered    