.form
    display: flex
    flex-direction: column
    width: 25%

.wrapperCheckAndText
    display: flex
    justify-content: space-between

.emailInput,
.passwordInput
    color: #9CA8B7
    width: 100%
    box-sizing: border-box
    font-size: 16px
    padding: 21px 23px
    border: 2px solid white
    border-radius: 4px

.textNearCheckbox
    color: #fff
    font-size: 13px

.forgotPass
    color: #fff
    font-size: 13px
    text-decoration: none

