.form
    display: flex
    flex-direction: column
    height: 35vh
    width: 35%

.labelEmail,
.labelPassword
    position: relative

.errorEmail,
.errorPassword
    position: absolute
    top: 65px
    left: 0
    right: 0
    bottom: 0
    padding: 5px 15px
    border: 1px solid red
    text-align: center
    color: #fff

.errorEmailTrue,
.errorPasswordTrue
    border: 3px solid #0b9116

.errorEmailFalse,
.errorPasswordFalse
    border: 3px solid #910b0b

.emailInput,
.passwordInput
    width: 100%
    box-sizing: border-box
    margin-bottom: 35px
    padding: 21px 23px
    border: 2px solid white
    border-radius: 4px
    font-size: 16px
    color: #9CA8B7

.wrapperCheckAndText
    display: flex
    justify-content: space-between
    margin-top: 5px

.textNearCheckbox
    margin: 0 355px 25px 0
    font-size: 15px
    color: #fff

.forgotPass
    font-size: 15px
    text-decoration: none
    color: #fff

.loginButton
    height: 64px
    width: 100%
    background-color: #28d2d0
    border: 0
    border-radius: 4px
    font-size: 16px
    font-weight: 500
    color: #fff
