.mainTextWrapper
    height: 10vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.textLineOne
    margin: 0
    font-size: 38px
    font-weight: 600
    color: #fff

.textLineTwo
    text-align: center
    color: #fff
    font-size: 20px
    font-weight: 500
    line-height: 27px
    width: 88%
