.loginWindowOne
    height: 127vh
    width: 100%
    background-color: #3ea9f5

.header
    height: 15vh
    display: flex
    justify-content: space-around
    align-items: center

.main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 50px

.loginWindowTwo
    height: 150vh
    width: 100%
    background-color: white

.footer
    display: flex
    justify-content: center
